.expense-list-inner-container {
    width: 100%;
    margin-top: 20px;
}

.expense-list-container, table {
    width: 100%;
}

table {
    height: auto;
    margin-top: 10px;
    margin-bottom: 56px;
    table-layout: fixed;
}

@media screen and (max-width: 360px) {
    table {
        margin-bottom: 96px;
    }
}

.cmdBtn {
    margin: 3px;
}
