.shell 
{
  height: 100vh;
}
  
.spacer {
  /* This fills the remaining space, by using flexbox. 
      Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

mat-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

mat-sidenav-container {
  margin-top: 56px;
  height: auto;
}
  