<mat-card>
    <mat-card-header>
        <h2>Register to Expense Track</h2>
    </mat-card-header>
    <mat-card-content>
        <form class="form" (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate>
            <mat-form-field class="form-full-width">
                <mat-label for="firstName">First name</mat-label>
                <input matInput placeholder="First name" [(ngModel)]="model.givenName" name="firstName" #firstName="ngModel"
                    required>
                <mat-error>First name is required</mat-error>
            </mat-form-field>
            <mat-form-field class="form-full-width">
                <mat-label for="lastName">Last name</mat-label>
                <input matInput placeholder="Last name" [(ngModel)]="model.legalName" name="lastName" #password="ngModel"
                    required>
                <mat-error>Last name is required</mat-error>
            </mat-form-field>
            <mat-form-field class="form-full-width">
                <mat-label for="userName">Username</mat-label>
                <input matInput placeholder="Username" [(ngModel)]="model.userName" name="userName" #userName="ngModel"
                    required>
                <mat-error>Username is required</mat-error>
            </mat-form-field>
            <mat-form-field class="form-full-width">
                <mat-label for="password">Password</mat-label>
                <input matInput placeholder="Password" type="password" [(ngModel)]="model.password" name="password"
                    #password="ngModel" required>
                <mat-error>Password is required</mat-error>
            </mat-form-field>
        </form>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button (click)="register()" color="primary">Register</button>
        <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
        <button mat-button [routerLink]="['/login']">Cancel</button>
    </mat-card-actions>
</mat-card>